      <div class="popup-prices-box">
        <span class="popup-newprice">{{newprice}}</span>
        <span class="popup-oldprice">{{oldprice}}</span>
      </div>
      <div class="popup-count-box">
        <span class="popup-count">{{count}}</span>
        <span class="popup-text">{{type}}</span>
      </div>
      <div class="popup-discont-box">
        <span class="popup-discont">Save {{discont}}</span>
      </div>
